@font-face {
  font-family: 'NoteStarFont';
  src: url('notestar.thin.ttf') format('truetype');
}

body{
background-color: #EDC9AF;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

h1 {
  font-family: 'NoteStarFont', sans-serif;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

p {
  background-color: #524F81;
  color: #FEFBEA;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  padding: 10px;
  transition: background-color 0.5s ease;
}

p span {
  padding: 5px;
}